<%- include('partials/header') %>


<div class="secrets__overlay">
  <div class="secrets__overlay__secret">
    <span class="overlay__btn-close"></span>
    <p class="overlay__content"></p>
  </div>
</div>
<div class="jumbotron text-center">
  <div class="container">


  <div class="secrets__header">
    <i class="fas fa-key"></i>
    <button type="button" class="btn btn-dark btn--my-secrets">My Secrets</button>
  </div>

<div class="">
  <h1 class="display-3 secrets__title"><i class="fas fa-user-secret"></i><br /> It's a secret</h1>
  <div class="secrets-grid dynamic-mt">



  <%secrets.forEach((secret)=>{       %>
      <% let userCssClass;              %>
      <% if(secret.authId === userId){  %>       <%#si el usuario es el autor del secreto recibe una clase más%>
      <% userCssClass = "secret--own";   %>
      <% }                              %>
      <div class="secret <%=userCssClass%> centered" data-aos="fade-up" data-aos-duration="400">

      <% if(secret.authId === userId){  %>        <%# Si es secreto propio muestras el botón para borrar y este manda en el post el id del secreto a borrar %>
        <form class="form--del" action="/delete" method="post">
          <button class="btn--del"type="submit" name="secretId" value="<%=secret._id %>"><i class="fas fa-trash-alt"></i></button>
        </form>
      <% }                              %>
        <p class="secret__content"><%=secret.text%></p>
    </div>
    <% })                               %>



  </div>
</div>


  <div class="secrets__btns">
      <a class="btn btn-light btn-lg secrets__btn" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg secrets__btn" href="/submit" role="button">Submit a Secret</a>
  </div>

  </div>
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script type="text/javascript" src="js/secrets.js"></script>
<%- include('partials/footer') %>
