<%- include('partials/header') %>

<div class="secrets__bg"></div>
<div class="jumbotron text-center">
  <div class="container">


  <i class="fas fa-key secrets__header"></i>

<div class="">
  <h1 class="display-3 secrets__title"><i class="fas fa-user-secret"></i><br /> it's a secret</h1>
  <div class="secrets-grid dynamic-mt">



  <%secrets.forEach((secret)=>{       %>
      <% let userCssClass;              %>
      <% if(secret.authId === userId){  %>
      <% userCssClass = "secret--own";   %>
      <% }                              %>
      <div class="secret <%=userCssClass%> centered" data-aos="fade-up" data-aos-duration="400">

      <% if(secret.authId === userId){  %>
        <form class="form--del" action="/delete" method="post">
          <button class="btn--del"type="submit" name="secretId" value="<%=secret._id %>"><i class="fas fa-trash-alt"></i></button>
        </form>
      <% }                              %>
        <p class="secret__content"><%=secret.text%></p>
    </div>
    <% })                               %>



  </div>
</div>

<div class="container__hover">
  <div class="secrets__btns">
      <a class="btn btn-light btn-lg secrets__btn" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg secrets__btn" href="/submit" role="button">Submit a Secret</a>
  </div>
  </div>
  </div>
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script type="text/javascript" src="js/secrets.js"></script>
<%- include('partials/footer') %>
